*{
    margin: 0;
    padding: 0;
}
body{
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background: #fff;
}
form p {
    padding: 10px;
}
form input{
    padding: 20px;
    width: 80%;
    margin: 10px;
}
::placeholder{
color: grey;
font-size: 18px;
}
form button{
    width: 90%;
    padding: 10px;
    background: #1877f2;
    outline: none;
    border: none;
}
form button {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
   
}
